---
title: All Posts
layout: default
permalink: allkba.html
---

{% if site.concepts.size > 0 %}
    <h2>Concept</h2>
    <ul>
    {% for kb-article in site.concepts %}
        <li>
            <strong><a href="{{ site.github.url }}{{ kb-article.url }}">{{ kb-article.title }}</a></strong> / <time datetime="{{ kb-article.date | date_to_xmlschema }}">{{ kb-article.date | date: '%b %-d, %Y'}}</time>
            {{ kb-article.excerpt }}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No concept articles yet!</p>
{% endif %}

{% if site.how-tos.size > 0 %}
    <h2>How-To</h2>
    <ul>
    {% for kb-article in site.how-tos %}
        <li>
            <strong><a href="{{ site.github.url }}{{ kb-article.url }}">{{ kb-article.title }}</a></strong> / <time datetime="{{ kb-article.date | date_to_xmlschema }}">{{ kb-article.date | date: '%b %-d, %Y'}}</time>
            {{ kb-article.excerpt }}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No how-to articles yet!</p>
{% endif %}

{% if site.solutions.size > 0 %}
    <h2>Solution</h2>
    <ul>
    {% for kb-article in site.solutions %}
        <li>
            <strong><a href="{{ site.github.url }}{{ kb-article.url }}">{{ kb-article.title }}</a></strong> / <time datetime="{{ kb-article.date | date_to_xmlschema }}">{{ kb-article.date | date: '%b %-d, %Y'}}</time>
            {{ kb-article.excerpt }}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No solution articles yet!</p>
{% endif %}
